* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

:root {
    --white: white;
    --black: #333333;
    --mainColor: #6499E9;
    --secColor: #9EDDFF;
    --thColor: #A6F6FF;
    --fourthColor: #BEFFF7;
}

.flexContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
}

#navbarContainer {
    width: 100%;
    padding-block: .5rem;
    background-color: var(--secColor);
    z-index: 999;
    position: fixed;
    top: 0;
}

#navbarContainer > .logo > img{
    max-width: 50px;
}

.navList ul {
    gap: 2rem;
}

.navList > ul > li {
    list-style: none;
}

.navList > ul > li > a {
    text-decoration: none;
    color: var(--mainColor);
    padding: .5rem 1.5rem;
    transition: all .2s ease-in-out;
    border-radius: 999px;
    float: left;
    display: block;
}

.navList > ul > li > a:hover{
    background-color: var(--mainColor);
    color: var(--secColor);
}

main {
    display: flex;
    gap: 1.7rem;
}

#content {
    flex: 5;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 1rem 2rem;
    width: 75%;
}

article {
    margin-top: 30px;
    margin: 10px;
    box-shadow: 0 4px 8px 0 #333333;
    padding: 10px;
}

article > h1 {
    text-align: center;
    padding-bottom: 10px;
}

main > #content > #hero {
    margin-top: 75px;
    flex-wrap: nowrap;
}

main > #content > #hero > #heroContent {
    line-height: 1.7rem;
}

main > #content > #hero > #heroContent > h1,p {
    padding: 10px;
}

main > #content > #hero > #heroImage > img {
    border-radius: 999px;
    max-width: 300px;
    border: solid 0.2rem;
    flex-shrink: 1;
}

main > #content > #pendidikan {
    align-items: baseline;
    background-color: var(--white);
}

main > #content > #pendidikan > h1 {
    width: 100%;
    text-align: center;
}

main > #content > #pendidikan > .cardPendidikan {
    justify-content: center;
    flex-direction: column;
    min-height: 500px;
}

main > #content > #pendidikan > .cardPendidikan > img{
    max-width: 500px;
    min-width: 100px;
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: contain;
    align-items: center;
}

aside {
    flex: 1;
    width: 25%;
    position: sticky;
    right: 0;
    margin-top: 75px;
}

aside header {
    text-align: center;
}

aside img {
    width: 100px;
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}
  
/* Hide the images by default */
.mySlides {
    display: none;
}
  
  /* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
  
/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
  
  /* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
  
  /* Caption text */
.text {
    color: var(--black);
    background-color: var(--mainColor);
    opacity: 70%;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.text > a {
    text-decoration: none;
}
  
  /* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
  
  /* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

footer {
    padding: 30px;
    align-items: center;
    text-align: center;
    background-color: var(--mainColor);
}
 
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@media screen and (max-width: 1200px){    
    main {
        flex-flow: column nowrap;
    }

    #content {
        width: 100%;
    }

    aside {
        align-self: center;
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    #navbarContainer > .logo > img{
        display: none;
    }

    nav ul {
        justify-content: center;
    }

    #content {
        width: 100%;
    }

    #heroImage > img {
        width: 200px;
    }

    aside {
        align-self: stretch;
        width: 100%;
    }
}